* {
    margin: 0;
    padding: 0;
}
.slider {
    height: 90vh;
}
.carousel-caption {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.carousel-caption h1 {
    font-size: 3rem;
}
.carousel-caption p {
    font-size: 1.25rem;
}
.label h3 {
    color: green;
}
.services i {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: green;
}
.services .item {
    border: .2px solid rgb(231, 228, 228);
}
.services p {
    color: rgb(231, 228, 228);
}
.blog {
    background-color: #116530;
    color: white;
    margin-top: 5rem;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;

    position: absolute;
}

.blog-img{
    height:100vh;
    position: relative;
    bottom: 7rem;
}
.icons p,
.label2 {
    color: white;
    opacity: .5;  
}
.blogh2{
    font-size: 2rem;
    font-weight: 400;
}
.icon{
   font-size: 2.5rem;
   margin-right: 1.5rem;
}
@media screen and (max-width:950px) {
    .blog {
        position: unset;
    }
    .blog-img {
        position: unset;
        height: 90vh;
    }
}

    


