*{
    margin: 0;
    padding: 0;
}
.slider{
    height:90vh;
}
.carousel-caption {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.carousel-caption h1 {
    font-size: 3rem;
}
.carousel-caption p {
    font-size: 1.25rem;
}
.label h3{
    color: green;
}
.services i{
    font-size: 3rem; 
    margin-bottom: 1rem;
    color:green;
}
.services .item{
  border: .2px solid rgb(231, 228, 228);
}
.services p{
  color:  rgb(231, 228, 228)
}
.blog {
    background-color: #116530;
    color:white;
    margin-top: 5rem;
}
.blog-row {
    padding: 20px;
  }
  
  .blog-img {
    object-fit: cover;
   bottom:70px;
  }
  .icons{
    padding: 50px;

  }
  @media (max-width: 767.98px) {
    .blog {
      position: fixed !important;
    }
.blog-img{
    position: fixed !important;
}}
